/* Announcement message, entered in Custom HTML */

div#announcement-off {
  display: none;
}

div#announcement-on {
  padding:10px;
  background-color: white;
}

div#announcement-banner {
}

div#announcement-banner p {
  color: #9A0707;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding:0;
}

div#announcement-banner #announcement-detail span#announcement-msg {
  font-size: 14px;
  padding-left: 2px;
}

div#announcement-banner p#announcement-countdown {
  font-size: 14px;
  padding-left: 14px;
  padding-top: 4px;
}