/* rules for code samples */
/* code indents */
.indent1 {
	margin-left: 12px;
}
.indent2 {
	margin-left: 24px;
}
.indent3 {
	margin-left: 36px;
}
.indent4 {
	margin-left: 48px;
}
.indent5 {
	margin-left: 60px;
}
.indent6 {
	margin-left: 70px;
}

/*code:has(> div)
/*div > div > div > code { /* code sample */
/*
	background: aliceblue;
	margin-left: 12px;
	padding: 2px 0 2px 4px;
}
*/
div > div > div > code:hover {
	background-color: #fae6e6;
}


/* table rules */
td, th {
	padding: 5px;
}
thead, tr:nth-child(even) {
	background-color: #f8f8f8;
}
tbody tr:hover {
	background-color: #fae6e6;
}
table {
	border-spacing: 0;
}
div > div> div.tablewrap:hover {
	background-color: aliceblue;
}