.welcome-page {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.welcome-page .welcome-block {
  padding-top: 20px;
}
.welcome-page .welcome_splash {
  padding: 0px;
  float: right;
}
.welcome-icon {
  padding: 0px;
  align: top;
    height: 65px;
    width: 65px;
}
.welcome-page .welcome-block .inner-container {
  padding: 50px 10px 20px 10px;
}
.welcome-page .welcome-block .inner-container:before,
.welcome-page .welcome-block .inner-container:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.welcome-page .welcome-block .inner-container:after {
  clear: both;
}
.welcome-page .welcome-block .inner-container h1{
  font-size: 28px !important;
  font-weight: normal;
  line-height: 36px;
  color: black !important;
}
.welcome-page .welcome-block .inner-container p {
  color: #666666 !important;
  font-size: 16px;
  line-height: 22px;
}
.welcome-page .welcome-block .inner-container img {
  padding: 0 10px;
}
.welcome-page .row {
  width: 100%;
  zoom: 1;
  padding-top: 10px;
}
.welcome-page .row:before, .welcome-page .row:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.welcome-page .row:after {
  clear: both;
}
.welcome-page .half-pane {
  float: left;
  width: 48%;
}
.welcome-page .one-third-pane {
  float: left;
  width: 30%;
  padding: 0 10px;
}
.welcome-page .two-thirds-pane {
  float: left;
  width: 66%;
  padding: 0 10px;
}
.welcome-page h2 {
  color: #9b1c1f;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.welcome-page p {
  color: #666666;
  margin-top: 5px;
  font-size: 14px;
}
.welcome-page a {
  color: #5D87A1;
  text-decoration: none;
  font-size: 14px;
}
.welcome-page a:hover {
  color: blue;
}
.welcome-page ul {
  margin-top: 5px;
}
.welcome-page li {
  margin-top: 2px;
  font-size: 14px;
}
.welcome-page .update-date {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: -4px;
  color: black;
}
.welcome-page table {
  width: 100%;
}
.welcome-page thead {
  background-color: #f0f1f1;
}
.welcome-page thead th{
  font-weight: bold;
  font-size: 14px;
  padding:0 10px 2px 10px;
}
.welcome-page tbody td{
  padding:0 10px 2px 0px;
  font-size: 13px;
  color: #666666;
  vertical-align: top;
}
.version-table tr:nth-child(even) {
    background-color: #F8F8F8;
}
.version-table td {
  width: 30%;
}
/* TIDOC-2381 */
.version-table td p {
	padding: 0 0 5px 5px;
}
.welcome-page .arrow-link {
  background-image: url(arrow-link.png);
  background-repeat: no-repeat;
  background-position: 100% 3px;
  padding-right: 13px;
}
.welcome-cell {
    align: left;
    padding: 0;
}
.content-cell {
    width: 33%;
}
.content-cell ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.content-cell li {
    margin: 0;
    padding: 0 0 5px 0;
}
div#content {
	height: 250px;
	overflow: auto;
}

/* fix for TIDOC-2739 */
/* this doesn't seem to do anything on localhost :( */
.class-overview .x-panel-body ol li ol li, .guide-container .x-panel-body ol li ol li, .comments-index .x-panel-body ol li ol li {
/*.guide-container .x-panel-body ol li ol li {*/
  list-style: lower-alpha !important;
}

.class-overview .x-panel-body ol li ol li, .guide-container .x-panel-body ol li ol li, .comments-index .x-panel-body ol li ol li {
    list-style: lower-alpha;
}

div div.section ol li ol li {
  list-style: lower-alpha !important;
  background: blue;
}

.class-overview .x-panel-body ol li ol li, .guide-container .x-panel-body ol li ol li, .comments-index .x-panel-body ol li ol li {
  list-style: lower-alpha !important;
  background: blue;
}
