/* line 6, ../sass/my.scss */
#north-region { background-image: url(../images/bkgd.png); background-repeat: repeat-x; }
/* line 10, ../sass/my.scss */
#north-region #search-field input { font-family: "Helvetica Neue" !important; }

/* line 15, ../sass/my.scss */
#header-content { padding: 10px 0 0 15px; }

/* line 19, ../sass/my.scss */
.x-border-layout-ct { background-color: #FFF !important; }

/* line 23, ../sass/my.scss */
#welcomeindex { overflow: hidden !important; }

/* line 28, ../sass/my.scss */
.thumb-list h2 { cursor: auto !important; }
/* line 30, ../sass/my.scss */
.thumb-list h2 div { background: none !important; padding: 4px !important; }

/* line 37, ../sass/my.scss */
#center-container h1 { color: #9B1C1F !important; font-size: 16pt !important; }
/* line 40, ../sass/my.scss */
#center-container h1 a { color: #9B1C1F !important; }
/* line 44, ../sass/my.scss */
#center-container h1 .typestr { font-weight: bold; }
/* line 49, ../sass/my.scss */
#center-container .thumb-list { /* start TIDOC-3196 update */ /* end TIDOC-3196 update */ }
/* line 50, ../sass/my.scss */
#center-container .thumb-list h2 { border-bottom: 1px solid #cacaca !important; /* TIDOC-3196 */ }
/* line 53, ../sass/my.scss */
#center-container .thumb-list h2 div { color: #314e64 !important; font-size: 13pt !important; /* TIDOC-3196 */ }
/* line 60, ../sass/my.scss */
#center-container .thumb-list dd { height: auto !important; width: auto !important; margin: 20px 10px 0 0; }
/* line 65, ../sass/my.scss */
#center-container .thumb-list dd h4 { font-size: 11pt !important; padding: 5px 0 !important; line-height: 22px; text-align: center; }
/* line 72, ../sass/my.scss */
#center-container .thumb-list dd .thumb { display: none; }
/* line 76, ../sass/my.scss */
#center-container .thumb-list dd div { float: none; margin-left: 0; width: auto; background: #f9f9f9; padding: 10px 15px; }
/* line 87, ../sass/my.scss */
#center-container .thumb-list .class-categories .section { background: #fbfbfb; /* TIDOC-3196 */ border: none; -webkit-box-shadow: 0 2px 6px #e8e8e8; /* TIDOC-3196 */ box-shadow: 0 2px 6px #e8e8e8; /* TIDOC-3196 */ }
/* line 93, ../sass/my.scss */
#center-container .thumb-list .class-categories .section h1 { color: #666666 !important; }
/* line 97, ../sass/my.scss */
#center-container .thumb-list .class-categories .section h3 { color: black; font-size: 14pt; }

/* line 111, ../sass/my.scss */
.class-overview .x-toolbar-default { background-color: transparent; background-image: none; border: none; border-bottom-style: solid; border-bottom-color: #cccccc; padding-bottom: 6px; }
/* line 118, ../sass/my.scss */
.class-overview .x-toolbar-default .hover-menu-button { background: none; }

/* line 122, ../sass/my.scss */
.hover-menu { background-color: #f1f1f1 !important; }

/* line 126, ../sass/my.scss */
.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div { border-style: none !important; border-color: transparent !important; background-color: transparent !important; }
/* line 130, ../sass/my.scss */
.x-grid-row-selected .x-grid-cell div, .x-grid-row-selected .x-grid-cell a, .x-grid-row-selected .x-grid-rowwrap-div div, .x-grid-row-selected .x-grid-rowwrap-div a { color: #9B1C1F !important; font-weight: bold; }

/* line 136, ../sass/my.scss */
.platform-android { background-image: url(../images/icon_android.png); background-size: 25px 28px; }

/* line 141, ../sass/my.scss */
.platform-iphone { background-image: url(../images/icon_iphone.png); background-size: 28px 28px; }

/* line 146, ../sass/my.scss */
.platform-ipad { background-image: url(../images/icon_ipad.png); background-size: 28px 28px; }

/* line 151, ../sass/my.scss */
.platform-mobileweb { background-image: url(../images/icon_mobileweb.png); background-size: 26px 26px; }

/* line 156, ../sass/my.scss */
.platform-tizen { background-image: url(../images/icon_tizen.png); background-size: 28px 28px; }

/* line 161, ../sass/my.scss */
.platform-blackberry { background-image: url(../images/icon_blackberry.png); background-size: 28px 28px; }

/* line 166, ../sass/my.scss */
.platform-windowsphone { background-image: url(../images/icon_windowsphone.png); background-size: 25px 28px; }

/* line 171, ../sass/my.scss */
.sidebar { width: 20%; float: right; }
/* line 174, ../sass/my.scss */
.sidebar .sidebar-platforms { clear: right; float: right; color: #666666 !important; }
/* line 179, ../sass/my.scss */
.sidebar .sidebar-platforms li { list-style: none !important; height: 40px; background-position: 100% 50%; background-repeat: no-repeat; padding: 12px 40px 0 0; text-align: right; font-size: 12pt; }

/* line 191, ../sass/my.scss */
.hierarchy { width: 80%; clear: none; }

/* line 197, ../sass/my.scss */
.doc-contents .platforms, .members .platforms { zoom: 1; }
/* line 162, ../sass/_mixins.scss */
.doc-contents .platforms:before, .doc-contents .platforms:after, .members .platforms:before, .members .platforms:after { display: table; content: ""; zoom: 1; *display: inline; }
/* line 169, ../sass/_mixins.scss */
.doc-contents .platforms:after, .members .platforms:after { clear: both; }
/* line 200, ../sass/my.scss */
.doc-contents .platforms li, .members .platforms li { width: 40px; height: 40px; background-repeat: no-repeat; float: left; list-style: none !important; padding-left: 26px; padding-right: 34px; padding-top: 6px; }

/* line 215, ../sass/my.scss */
.doc-contents .platforms { display: none; }

/* line 220, ../sass/my.scss */
.container ol, .container ul { padding-left: 1em !important; }

/* line 223, ../sass/my.scss */
#videoindex .thumb-list dd .thumb img { border: none !important; }

/* line 228, ../sass/my.scss */
.doc-table table, .doc-table th, .doc-table td { border: 1px solid #ccc; }
/* line 231, ../sass/my.scss */
.doc-table th { font-weight: bold; text-align: left; padding: 3px 5px 3px 5px; }
/* line 236, ../sass/my.scss */
.doc-table th, .doc-table td { padding: 3px 5px 3px 5px; }

/* line 242, ../sass/my.scss */
.note { background-color: #FFFFDD; border-color: #F7DF92; padding: 1em 1em 1em 3em !important; border-radius: 5px; padding-top: 1em !important; padding-bottom: 1em !important; padding-left: 1em !important; width: 95%; }

/* line 253, ../sass/my.scss */
.note:before { content: "Note: "; padding-left: 0px; color: red; font-weight: bold; }

/* line 260, ../sass/my.scss */
#editButton { background-image: url(../images/pencil.png); background-position: 10px; background-repeat: no-repeat; background-size: 20px 20px; border-radius: 5px; color: #555555; display: block; height: 30px; position: absolute; right: 50px; text-align: center; top: 18px; width: 75px; }

/* line 276, ../sass/my.scss */
#editButton span { font-family: 'Open Sans', Helvetica, FreeSans, sans-serif; font-size: 15px; font-weight: normal; right: 15px; position: absolute; text-align: center; top: 5px; }

/* line 286, ../sass/my.scss */
#editButton:hover { background-color: #555555; color: #ffffff; }

/* line 291, ../sass/my.scss */
.classheader #editButton { top: 8px; right: 35px; }

/* line 296, ../sass/my.scss */
#center-container .print { /* TIDOC-3196 */ background-image: url(../images/print.png); right: 15px; top: 13px; width: 20px; height: 20px; background-size: 20px 20px; }

/* line 305, ../sass/my.scss */
#platformComparison { margin: 0 0 0 25px; }

/* line 309, ../sass/my.scss */
#platformComparison th, #platformComparison td { text-align: center; font-family: 'Helvetica Neue', helvetica, arial, sans-serif; font-size: 13px; font-weight: bold; border-width: 0; color: #555; padding: 5px; }

/* line 319, ../sass/my.scss */
.x-toolbar .x-toolbar-text { color: #222; font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important; }

/* line 324, ../sass/my.scss */
.x-btn-default-toolbar-small .x-btn-inner { font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important; }

/* line 328, ../sass/my.scss */
.x-form-field, .x-form-display-field { font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important; }

/* line 332, ../sass/my.scss */
.icon-search-1 { -webkit-font-smoothing: subpixel-antialiased; color: #888888; display: block; height: 45px; line-height: 45px; opacity: 0.80; position: absolute; font-size: 16px; left: 7px; }

/* line 344, ../sass/my.scss */
#appc-docs-search-cancel { color: #888888; position: absolute; right: 7px; font-size: 16px; }

/* line 350, ../sass/my.scss */
#appc-docs-search-cancel:hover { color: #484850; cursor: pointer; }

/* line 355, ../sass/my.scss */
#appc-docs-search-form { font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important; font-size: 14px; padding: 5px 25px; width: 200px; border-radius: 16px; border-style: solid; border-width: 1px; border-color: #888888; }

/* line 366, ../sass/my.scss */
#appc-docs-search-form:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

/* line 373, ../sass/my.scss */
#appc-docs-products { position: relative; display: inline-block; line-height: 45px; padding: 0 25px; }

/* line 380, ../sass/my.scss */
#appc-docs-products-menu { z-index: 4000 !important; display: none; position: absolute; top: 100%; left: 0; z-index: 1000; float: left; min-width: 160px; margin: 0; padding: 5px 0 0 0; font-size: 14px; text-align: left; border-top-right-radius: 0; border-top-left-radius: 0; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-color: #484850; }

/* line 398, ../sass/my.scss */
#appc-docs-products-menu a { padding-left: 10px; display: block; color: white; }

/* line 403, ../sass/my.scss */
#appc-docs-products-menu a:hover { background-color: #343438 !important; box-sizing: border-box; }

/* line 408, ../sass/my.scss */
#appc-docs-search { position: relative; display: inline-block; }

/* line 412, ../sass/my.scss */
#appc-docs-search-results { z-index: 4000 !important; position: absolute; top: 100%; left: 0; z-index: 1000; float: left; width: 250px; margin: 0; padding: 5px 0 0 0; font-size: 14px; text-align: left; border-top-right-radius: 0; border-top-left-radius: 0; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-color: #484850; display: none; }

/* line 430, ../sass/my.scss */
#appc-docs-search-results a { padding-left: 10px; display: block; color: white; overflow: hidden; }

/* line 436, ../sass/my.scss */
#appc-docs-search-results a:hover { background-color: #343438 !important; box-sizing: border-box; }

/* line 441, ../sass/my.scss */
#appc-docs-results-last { color: #888; background-color: #343438; height: 48px; position: absolute; width: 100%; text-align: center; vertical-align: baseline; }

/* line 451, ../sass/my.scss */
#appc-docs-results-prev { font-size: 20px; }

/* line 454, ../sass/my.scss */
#appc-docs-results-prev:hover, #appc-docs-results-next:hover { color: white; cursor: pointer; }

/* line 459, ../sass/my.scss */
#appc-docs-results-next { font-size: 20px; }

/* line 463, ../sass/my.scss */
#appc-docs-results-stats { padding: 0 50px; }

/* line 467, ../sass/my.scss */
.appc-docs-results-name { font-size: 14px !important; line-height: 150%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* line 475, ../sass/my.scss */
.appc-docs-results-fullname { font-size: 12px; line-height: 150%; color: #888; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* line 484, ../sass/my.scss */
.taboverflow-center { width: 40px; height: 30px; border-style: solid; text-align: center; vertical-align: middle; border-width: 1px; top: -8px; position: relative; border-color: #cccccc; border-radius: 4px; background-color: #e7e7e7; padding: 5px; }

/* line 499, ../sass/my.scss */
.taboverflow-center:hover { background-color: white; cursor: pointer; }

/* line 505, ../sass/my.scss */
.confluence-embedded-image.image-right { float: right; }

/* start TIDOC-3196 update */
/* line 510, ../sass/my.scss */
.doctabs .doctab .m a.tabUrl { padding: 0 9px 0 12px; }

/* line 514, ../sass/my.scss */
.doctabs .doctab .m a.main-tab { padding: 0 14px 0 19px; }

/* line 518, ../sass/my.scss */
.guide-overview { margin-bottom: 20px; }

/* line 523, ../sass/my.scss */
#treecontainer .x-grid-cell-inner .icon-guide, #treecontainer .x-grid-cell-inner .icon-class { display: none; }

/* end TIDOC-3196 update */
